
body{

  margin: 0x;
  padding: 0px;
}
.Editorcontainer {
  display: flex;
  justify-content: "normal";
  padding-bottom: 20px;
  padding-top: 9px;
  width: 100vw;
  height: 50vh;
  background-color: grey;
}
.codecontainer {
  width: 100vw;
  height: 50vh;
}

.editorDiv {
  width: 30%;
  height: 100px;
  margin: 7px 20px 4px 15px;
  text-align: center;
  /* width: 30%; */
  /* height: 50vh; */
}

.innerDiv {
  background-color: black;
  color: white;
  border: 3px solid black;
  border-radius: 6px;
}

.headingDiv {
  font-size: 20px;
  font-weight: 700;
  padding: 8px 3px 7px 15px;
 
  color: white;
  /* height: 20vh; */
}

.writingDiv {
  background-color: #2d542dde;
  /* height: 80vh; */
}


#textArea{
  background-color: #2d542dde;
  color: white; 
  /* font-size: 13px; */
}